<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Canvas</title>
  </head>
  <body>
    <head></head>
    <nav></nav>
    <main>
      <section>
        <h3>Working with HTML canvas</h3>
        <canvas width="640px" height="480px" id="myCanvas">
          Your browser does not support the HTML5 canvas element. Please upgrade
          to a modern browser to view this content.
        </canvas>
      </section>
    </main>
    <footer></footer>
    <script src="animation.js"></script>
  </body>
</html>
