<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .parent {
        border: 4px solid red;
      }
      .child {
        border: 4px solid blue;
        padding: 1rem;
        width: 50%;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Heading one</h1>
      <p>This is a paragraph under heading one.</p>
      <div>
        <p>All these spans are inline elements</p>
        <span style="color: red; display: block">Span one</span>
        <span style="color: blue">Span two</span>
        <span style="color: green">Span three</span>
      </div>
    </div>
    <div>
      <p style="text-align: left">Left alignment</p>
      <p style="text-align: center">Center alignment</p>
      <p style="text-align: right">Right alignment</p>
      <p style="text-align: justify">Text align justify the content</p>
    </div>
    <div class="parent">
      <div class="child"></div>
    </div>
  </body>
</html>
