* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: white;
  font-weight: 400;
  line-height: 1.55;
  font-size: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #d0604c;
  cursor: pointer;
  font-weight: 600;
  padding-right: 2rem;
  padding-left: 2rem;
  padding: 1rem;
}
.nav-link:hover {
  border-bottom: 2px solid #f2e0d2;
}
ul li {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  /* margin-top: 2rem; */
  display: flex;
  max-width: 80rem;
  justify-content: center;
}
.w-full {
  width: 100%;
  margin-top: 1rem;
}

.logo-img {
  width: auto;
  height: 2rem;
}

main {
  height: 100vh;
  background-color: whitesmoke;
}

.p-t {
  padding-top: 2rem;
}
.p-b {
  padding-bottom: 2rem;
}

.header-container {
  display: flex;
  flex-direction: rows;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
}
h6 {
  font-size: 1.25rem;
  font-weight: 500;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 2rem;
  font-weight: 600;
}
h3 {
  font-weight: 700;
  font-size: 2.5rem;
}
h2 {
  font-weight: 800;
  font-size: 3rem;
}
h1 {
  font-weight: 900;
  font-size: 3.5rem;
}
